* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
}

body.js-open {
  position: fixed;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto;
}

.l-header__left {
  background-color: #FFF7EF;
  width: 100vw;
}

.l-header__left.js-open {
  background: rgba(0, 0, 0, 0.4);
}

@media (min-width: 1025px) {
  .l-header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 21.7rem;
    width: 80%;
  }
}

.l-header__left__head {
  padding: 4rem 0 0;
  text-align: center;
}

@media (min-width: 1025px) {
  .l-header__left__head {
    padding: 6rem 0 0 5rem;
  }
}

.l-header__left--color {
  color: #707070;
}

.l-header__left--size {
  font-size: 4rem;
}

@media (min-width: 1025px) {
  .l-header__left--size {
    font-size: 6.4rem;
  }
}

.l-main {
  background-color: #FFFDFA;
}

@media (min-width: 1025px) {
  .l-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1025px) {
  .l-main .l-main-left {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (min-width: 1025px) {
  .l-main .l-main-right {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-top: -21.7rem;
  }
}

.l-footer {
  position: relative;
}

.l-footer__img {
  width: 100vw;
  height: 15.5rem;
}

.l-footer__wrap {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.l-footer__wrap__head {
  font-size: 2rem;
  margin: 3.9rem 0 0 0;
  text-align: center;
}

.l-footer__wrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.l-footer__wrap .menu a {
  color: white;
}

.l-footer__wrap .menu-item-460 {
  padding-right: 1rem;
}

.l-footer__wrap .menu-item-460 > a:hover {
  opacity: 0.6;
}

.l-footer__wrap .menu-item-459 {
  padding-left: 1rem;
  position: relative;
}

.l-footer__wrap .menu-item-459::before {
  position: absolute;
  left: 0;
  top: 5px;
  content: "";
  background-color: #fff;
  width: 2px;
  height: 20px;
}

.l-footer__wrap .menu-item-459 > a:hover {
  opacity: 0.6;
}

.l-footer__wrap__text {
  width: 100%;
  font-size: 1.4rem;
  margin: 3.5rem auto 3rem;
  text-align: center;
}

.l-footer__wrap__text small {
  font-size: 1.4rem;
}

.c-search {
  width: 23rem;
  height: 4.6rem;
  background-image: url("../img/pass.jpg");
  background-repeat: no-repeat;
  background-position: 7% center;
  border-radius: 10px;
  font-size: 25px;
  border-color: #707070;
  border-width: 1px;
  padding-left: 5rem;
}

.c-search.js-open {
  background: rgba(0, 0, 0, 0.4);
}

@media (min-width: 600px) {
  .c-search {
    padding-left: 7rem;
    width: 39.6rem;
  }
}

@media (min-width: 1025px) {
  .c-search {
    width: 20vw;
  }
}

.c-submit {
  width: 7.8rem;
  height: 4.6rem;
  font-size: 1.6rem;
  color: #707070;
  margin: 0 0 0 1rem;
  border-radius: 10px;
  border-color: #707070;
  border-width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EDE9), to(#DED8D3));
  background: linear-gradient(#F2EDE9, #DED8D3);
  cursor: pointer;
}

.c-submit.js-open {
  background: rgba(0, 0, 0, 0.4);
}

@media (min-width: 600px) {
  .c-submit {
    width: 13.6rem;
  }
}

@media (min-width: 1025px) {
  .c-submit {
    width: 7vw;
  }
}

.c-close {
  font-size: 700%;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 17%;
  color: #707070;
  cursor: pointer;
}

@media (min-width: 600px) {
  .c-close {
    right: 58%;
  }
}

@media (min-width: 1025px) {
  .c-close {
    display: none;
  }
}

.c-pagination-sp {
  height: 11.4rem;
}

@media (min-width: 600px) {
  .c-pagination-sp {
    display: none;
  }
}

.c-pagination-sp__list {
  padding: 6rem 0 3rem;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-pagination-sp__list li {
  display: inline-block;
  font-size: 1.6rem;
}

.c-pagination-sp__list li a {
  font-size: 1.6rem;
}

.c-pagination-desktop {
  height: 17.1rem;
  display: none;
}

@media (min-width: 600px) {
  .c-pagination-desktop {
    display: block;
  }
}

.c-pagination-desktop__list {
  padding: 10.6rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-pagination-desktop__list li {
  display: inline;
  font-family: Roboto;
  font-size: 1.6rem;
  color: #707070;
}

.c-pagination-desktop__list li a {
  color: #707070;
  display: block;
}

.c-pagination-desktop__list__style {
  padding: 0.4rem 1rem;
  border: 1px solid #707070;
  margin: 0 1.5rem 0 0;
}

.c-pagination-desktop__list__style--current-page {
  background-color: black;
  margin-left: 1.5rem;
}

.c-pagination-desktop__list__style--current-page .color {
  color: white;
}

.c-pagination-desktop__list__page {
  padding-top: 0.4rem;
  margin-right: 1.5rem;
}

.c-pagination-desktop__list__component {
  padding-top: 0.4rem;
}

.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 11.4rem;
}

@media (min-width: 600px) {
  .c-pagination {
    height: 17.1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-pagination__prev-less {
  padding: 6rem 0 3rem;
}

@media (min-width: 600px) {
  .c-pagination__prev-less {
    padding: 10.6rem 0 0 0;
  }
}

.c-pagination__prev-less a {
  font-size: 1.6rem;
  color: #707070;
}

.c-pagination__prev {
  padding: 6rem 0 3rem;
}

@media (min-width: 600px) {
  .c-pagination__prev {
    display: none;
  }
}

.c-pagination__prev a {
  font-size: 1.6rem;
  color: #707070;
}

.c-pagination__body {
  display: none;
}

@media (min-width: 600px) {
  .c-pagination__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 9.9rem 0 0 0;
    margin: 0 0 3.7rem 0;
  }
}

.c-pagination__body li {
  display: inline;
  font-family: Roboto;
  font-size: 1.6rem;
  color: #707070;
  padding: 0.4rem 1rem;
  border: 1px solid #707070;
  margin: 0 1.5rem 0 0;
}

.c-pagination__body li:first-child {
  margin-left: 1.5rem;
}

.c-pagination__body li a {
  color: #707070;
  display: block;
  font-size: 1.6rem;
  font-family: Roboto;
}

.c-pagination__body .-current {
  background-color: black;
  color: white;
}

.c-pagination__next {
  padding: 6rem 0 0 0;
  margin: 0 0 0 auto;
}

@media (min-width: 600px) {
  .c-pagination__next {
    display: none;
  }
}

.c-pagination__next a {
  font-size: 1.6rem;
  color: #707070;
}

.c-pagination__next-grater {
  padding: 6rem 0 0 0;
}

@media (min-width: 600px) {
  .c-pagination__next-grater {
    padding: 10.6rem 0 0 0;
  }
}

.c-pagination__next-grater a {
  font-size: 1.6rem;
  color: #707070;
}

.c-black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.js-black-bg {
  opacity: .8;
  visibility: visible;
}

.c-image-size-first {
  height: 12.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (min-width: 600px) {
  .c-image-size-first {
    height: 26.4rem;
  }
}

@media (min-width: 1025px) {
  .c-image-size-first {
    height: 50rem;
  }
}

.c-image-size-second, .c-image-size-third {
  height: 89px;
  width: 144px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 600px) {
  .c-image-size-second, .c-image-size-third {
    height: 189px;
    width: 306px;
  }
}

@media (min-width: 1025px) {
  .c-image-size-second, .c-image-size-third {
    height: 358px;
    width: 45%;
  }
}

.c-image-size-fourth {
  height: 166px;
  width: 267px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 600px) {
  .c-image-size-fourth {
    height: 358px;
    width: 581px;
  }
}

.c-image-size-group {
  height: 205px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 600px) {
  .c-image-size-group {
    height: 205px;
  }
}

@media (min-width: 1025px) {
  .c-image-size-group {
    height: 257px;
  }
}

.c-button {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  color: #3C2A10;
  border-radius: 20px;
  border-color: #707070;
  border-width: 1px;
  padding: 3rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EDE9), to(#DED8D3));
  background: linear-gradient(#F2EDE9, #DED8D3);
  cursor: pointer;
}

@media (min-width: 600px) {
  .c-button {
    width: 65%;
    padding: 4rem 0;
  }
}

@media (min-width: 1025px) {
  .c-button {
    width: 23vw;
  }
}

.c-bold {
  font-size: 1.6rem;
  display: block;
  margin: 3rem 0 0;
  padding-bottom: 7rem;
}

@media (min-width: 600px) {
  .c-bold {
    margin: 6rem 0 0;
  }
}

@media (min-width: 1025px) {
  .c-bold {
    padding-bottom: 18rem;
  }
}

.p-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0 4rem;
}

@media (min-width: 1025px) {
  .p-form {
    padding: 0;
    margin: 10rem 1rem 0 0;
  }
}

.c-menu {
  border-style: none;
  background-color: transparent;
  position: absolute;
  font-size: 2.0rem;
  font-family: Roboto;
  font-weight: bold;
  color: #707070;
  top: 14px;
  right: 16px;
}

@media (min-width: 600px) {
  .c-menu {
    font-size: 3.4rem;
  }
}

@media (min-width: 1025px) {
  .c-menu {
    display: none;
    top: 8.6rem;
    right: 12rem;
  }
}

.c-menu-pc {
  display: none;
}

@media (min-width: 1025px) {
  .c-menu-pc {
    display: block;
    font-size: 3.4rem;
    font-family: Roboto;
    color: #707070;
    padding: 9rem 0 0 4rem;
  }
}

.p-sidebar {
  -webkit-transition: all 200ms 0s ease;
  transition: all 200ms 0s ease;
  position: fixed;
  top: 0;
  left: 100%;
  background: #F2EDE9;
  width: 100vw;
  height: 100vh;
  z-index: 110;
  overflow-y: auto;
}

@media (min-width: 1025px) {
  .p-sidebar {
    position: static;
    width: 100%;
    z-index: auto;
    height: auto;
    min-height: 100%;
    overflow-y: visible;
  }
}

.p-sidebar .menu-item-type-taxonomy > a {
  font-size: 2.4rem;
  padding: 0 0 4.2rem 0.6rem;
  font-weight: normal;
}

.p-sidebar .menu-item-type-taxonomy > a:hover {
  opacity: 0.6;
}

.p-sidebar .menu-item-type-post_type > a {
  font-size: 2.0rem;
  padding: 0 0 2.8rem 0;
  font-weight: normal;
}

.p-sidebar .menu-item-type-post_type > a:hover {
  opacity: 0.6;
}

.p-sidebar .menu {
  margin: 12.2rem 0 0 0;
}

@media (min-width: 1025px) {
  .p-sidebar .menu {
    margin: 10rem 0 0 0;
  }
}

.p-sidebar.js-open {
  left: 10%;
}

@media (min-width: 600px) {
  .p-sidebar.js-open {
    left: 55%;
  }
}

.p-top-image {
  position: relative;
}

.p-top-image__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 285px;
}

@media (min-width: 1025px) {
  .p-top-image__img {
    height: 530px;
  }
}

.p-top-image__head {
  position: absolute;
  top: 119px;
  left: 25px;
}

@media (min-width: 600px) {
  .p-top-image__head {
    left: 86px;
  }
}

@media (min-width: 1025px) {
  .p-top-image__head {
    top: 231px;
    left: 86px;
  }
}

.p-top-image--size {
  font-size: 36px;
  color: white;
}

.p-top-image-archive {
  position: relative;
}

.p-top-image-archive__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 285px;
}

@media (min-width: 1025px) {
  .p-top-image-archive__img {
    height: 239px;
  }
}

.p-top-image-archive__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 10.4rem 0 0 3.7rem;
}

@media (min-width: 600px) {
  .p-top-image-archive__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10.4rem 0 0 8.6rem;
  }
}

@media (min-width: 1025px) {
  .p-top-image-archive__wrapper {
    padding: 8rem 0 0 8.6rem;
  }
}

.p-top-image-archive__head {
  font-size: 36px;
  color: white;
  font-family: Roboto;
}

@media (min-width: 600px) {
  .p-top-image-archive__head {
    font-size: 6rem;
  }
}

.p-top-image-archive__text {
  color: white;
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  .p-top-image-archive__text {
    padding: 4rem 0 0 2rem;
  }
}

.p-top-image-single {
  position: relative;
}

.p-top-image-single__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 225px;
}

@media (min-width: 600px) {
  .p-top-image-single__img {
    height: 500px;
  }
}

.p-top-image-single__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 9rem 0 0 2rem;
}

@media (min-width: 600px) {
  .p-top-image-single__wrapper {
    padding: 20.8rem 0 0 8.6rem;
  }
}

.p-top-image-single__head {
  font-size: 36px;
  color: white;
  font-family: Roboto;
}

@media (min-width: 600px) {
  .p-top-image-single__head {
    font-size: 6rem;
  }
}

.p-top-image-single__text {
  color: white;
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  .p-top-image-single__text {
    padding: 4rem 0 0 2rem;
  }
}

.p-top-image-page {
  position: relative;
}

.p-top-image-page__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 225px;
}

@media (min-width: 600px) {
  .p-top-image-page__img {
    height: 500px;
  }
}

.p-top-image-page__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 9rem 0 0 2rem;
}

@media (min-width: 600px) {
  .p-top-image-page__wrapper {
    padding: 20.8rem 0 0 8.6rem;
  }
}

.p-top-image-page__head {
  font-size: 36px;
  color: white;
  font-family: Roboto;
}

@media (min-width: 600px) {
  .p-top-image-page__head {
    font-size: 6rem;
  }
}

.p-top-image-page__text {
  color: white;
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  .p-top-image-page__text {
    padding: 4rem 0 0 2rem;
  }
}

.p-card-out {
  padding: 2rem 2rem 0;
  position: relative;
}

.p-card-out__img {
  width: 100%;
  height: 642px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1025px) {
  .p-card-out__img {
    height: 120rem;
  }
}

.p-card-in {
  padding: 2rem 2rem 0;
  position: relative;
}

.p-card-in__img {
  width: 100%;
  height: 642px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1025px) {
  .p-card-in__img {
    height: 120rem;
  }
}

.p-card__head {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 41px;
  font-family: Roboto;
  color: #EAEAEA;
}

.p-card__head ul {
  margin: 0;
  padding: 0;
}

.p-card__head a {
  color: #EAEAEA;
}

.p-card__head a:hover {
  opacity: 0.6;
}

@media (min-width: 1025px) {
  .p-card__head {
    font-size: 8rem;
    left: 4rem;
  }
}

.p-card__line {
  display: block;
  position: absolute;
  content: "";
  width: 34px;
  height: 4px;
  background-color: white;
  top: 10rem;
  left: 3rem;
}

@media (min-width: 1025px) {
  .p-card__line {
    left: 4rem;
    top: 15rem;
    width: 6.3rem;
  }
}

.p-card__body1 {
  position: absolute;
  top: 317px;
  left: 30px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 163px;
}

@media (min-width: 1025px) {
  .p-card__body1 {
    top: 860px;
  }
}

.p-card__body1__head {
  font-size: 22px;
  font-weight: normal;
  padding: 2rem 0 2rem 1rem;
}

.p-card__body1__text {
  font-size: 16px;
  padding: 0 1rem 0 1rem;
  color: #3C2A10;
  overflow: hidden;
  height: 71px;
}

.p-card__body2 {
  position: absolute;
  top: 489px;
  left: 30px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 163px;
}

@media (min-width: 1025px) {
  .p-card__body2 {
    top: 1040px;
  }
}

.p-card__body2__head {
  font-size: 22px;
  font-weight: normal;
  padding: 2rem 0 2rem 1rem;
}

.p-card__body2__text {
  font-size: 16px;
  padding: 0 1rem 0 1rem;
  color: #3C2A10;
  overflow: hidden;
  height: 71px;
}

.p-card-article {
  margin: 2rem 0 0 0;
  height: 58.4rem;
}

@media (min-width: 600px) {
  .p-card-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35.4rem;
  }
}

@media (min-width: 1025px) {
  .p-card-article {
    margin: 3rem 0 0 0;
    height: 47.1rem;
  }
}

.p-card-article__img {
  height: 23rem;
}

.p-card-article__img__size {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 23rem;
}

@media (min-width: 600px) {
  .p-card-article__img__size {
    width: 48vw;
    height: 35.4rem;
  }
}

@media (min-width: 1025px) {
  .p-card-article__img__size {
    height: 47.1rem;
  }
}

.p-card-article__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 23rem;
}

@media (min-width: 600px) {
  .p-card-article__img img {
    width: 48vw;
    height: 35.4rem;
  }
}

@media (min-width: 1025px) {
  .p-card-article__img img {
    height: 47.1rem;
  }
}

.p-card-article__detail {
  background: #3C2B1C;
  color: white;
  height: 35.4rem;
  padding: 3rem 7.3rem 0 1.6rem;
  position: relative;
}

@media (min-width: 600px) {
  .p-card-article__detail {
    width: 50%;
    padding: 3rem 6rem 0 3.6rem;
  }
}

@media (min-width: 1025px) {
  .p-card-article__detail {
    height: 47.1rem;
    padding: 5.3rem 9.6rem 0 6.3rem;
  }
}

.p-card-article__detail__tophead {
  font-size: 2rem;
}

.p-card-article__detail__middlehead {
  font-size: 1.6rem;
  padding: 2.5rem 0 0 0;
  margin: 0;
}

.p-card-article__detail__text {
  font-size: 1.6rem;
  padding: 1rem 0 0 0;
  line-height: 21px;
  height: 11.4rem;
}

.p-card-article__detail p {
  font-size: 1.6rem;
  padding: 3rem 0 0 0;
  line-height: 21px;
  height: 11.4rem;
}

.p-card-article__detail div {
  margin: 4rem auto 0;
  text-align: center;
}

@media (min-width: 600px) {
  .p-card-article__detail div {
    margin: 7rem auto 0;
  }
}

.p-card-article__detail div button {
  width: 16.3rem;
  height: 4.2rem;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .p-card-article__detail div button {
    width: 29.2rem;
    height: 7.6rem;
    border-radius: 50px;
    top: 360px;
  }
}

.p-card-article__detail div button a {
  color: #707070;
  font-size: 1.6rem;
}

.p-container-card {
  margin-bottom: 5rem;
}

@media (min-width: 600px) {
  .p-container-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 2rem 0 2rem;
  }
}

@media (min-width: 1025px) {
  .p-container-card {
    padding: 6rem 2rem 0 2rem;
    margin-bottom: 8rem;
  }
}

.p-container-archive {
  padding: 0 2rem 0;
}

@media (min-width: 1025px) {
  .p-container-archive {
    padding: 0 4rem 0;
  }
}

.p-container-single-page {
  padding: 0 2rem;
  color: #3C2A10;
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  .p-container-single-page {
    padding: 0 6rem;
  }
}

@media (min-width: 1025px) {
  .p-container-single-page {
    padding: 0 10rem;
  }
}

.p-map {
  position: relative;
}

.p-map__img {
  height: 69.1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1025px) {
  .p-map__img {
    width: 79.9vw;
  }
}

.p-map__wrap {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 41.5rem;
  padding: 3.5rem 4.2rem 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 50;
}

@media (min-width: 1025px) {
  .p-map__wrap {
    width: 50vw;
    height: 69.1rem;
  }
}

.p-map__wrap__head {
  font-size: 30px;
  font-family: auto;
}

.p-map__wrap__line {
  display: block;
  content: "";
  width: 75px;
  height: 2px;
  background-color: white;
  margin-top: -3rem;
}

.p-map__wrap__text {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 33px;
}

.p-map__wrap-thin {
  position: absolute;
  top: 41.5rem;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 27.6rem;
}

@media (min-width: 600px) {
  .p-map__wrap-thin {
    background: rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 1025px) {
  .p-map__wrap-thin {
    width: 36.6%;
    height: 69.1rem;
    top: 0;
    left: 50vw;
    background: rgba(0, 0, 0, 0.3);
  }
}

.p-caption__head {
  font-size: 2.8rem;
  padding: 3rem 0 0 0;
  color: #3C2A10;
}

@media (min-width: 600px) {
  .p-caption__head {
    font-size: 3.6rem;
  }
}

@media (min-width: 1025px) {
  .p-caption__head {
    padding: 6rem 0 0 0;
  }
}

.p-caption__text {
  font-size: 1.6rem;
  padding: 2.6rem 0 0 0;
  height: 27.6rem;
  color: #3C2A10;
  font-weight: 500;
  overflow: hidden;
}

@media (min-width: 600px) {
  .p-caption__text {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1025px) {
  .p-caption__text {
    padding: 2.8rem 0 0 0;
    height: 12rem;
    margin-bottom: 4rem;
  }
}

.p-quote {
  margin: 3rem 0 0 0;
  background-color: #F5F5F5;
}

.p-quote__text {
  margin: 6rem 1.8rem 0 2rem;
  padding: 3rem 0 0 0;
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  .p-quote__text {
    padding: 5rem 3rem 0 3rem;
  }
}

.p-quote__cite {
  display: block;
  margin: 10rem 0 0 2rem;
  padding: 15rem 0 3rem 2rem;
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  .p-quote__cite {
    padding: 8rem 0 6rem 3rem;
  }
}

.p-quote__cite a {
  font-size: 1.6rem;
  text-decoration: underline;
  color: #4A6C9B;
}

@media (min-width: 600px) {
  .p-image-groups {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    gap: 1.5rem;
  }
}

@media (min-width: 1025px) {
  .p-image-groups {
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    gap: 2rem;
  }
}

.p-list {
  margin: 3rem 0 0 0;
}

@media (min-width: 600px) {
  .p-list {
    margin: 6rem 0 6rem 5rem;
  }
}

.p-list__ol {
  padding-left: 2rem;
  margin: 2.3rem 0;
}

.p-list__ol li {
  list-style-type: decimal;
}

.p-list__ul {
  padding-left: 0rem;
  margin: 2.3rem 0;
}

.p-code {
  background-color: #F5F5F5;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 700;
  padding: 3rem 0;
}

.p-table {
  margin: 3rem 0;
  background-color: #FFFFFF;
  border: 1px solid #707070;
  border-collapse: collapse;
  font-size: 1.6rem;
  color: #3C2A10;
  width: 100%;
}

@media (min-width: 600px) {
  .p-table {
    margin: 6rem 0;
  }
}

.p-table tr, .p-table td {
  padding: 3rem;
  border: 1px solid #707070;
}

.u-sidebar-color {
  color: #707070;
}

.u-sidebar-margin {
  margin-top: 2rem;
}

.u-margin-head3, .u-margin-head4, .u-margin-head5, .u-margin-head6 {
  margin-top: 3rem;
}

@media (min-width: 600px) {
  .u-margin-head3, .u-margin-head4, .u-margin-head5, .u-margin-head6 {
    margin-top: 5.4rem;
  }
}

@media (min-width: 600px) {
  .u-margin-head3-first {
    margin-top: 9rem;
  }
}

.u-margin-head5, .u-margin-head6 {
  margin-bottom: 0;
}

.u-margin-img {
  margin-top: 3rem;
}

@media (min-width: 600px) {
  .u-margin-img {
    margin-top: 6rem;
  }
}

.u-margin-image-second {
  margin-right: 1rem;
}

@media (min-width: 600px) {
  .u-margin-image-second {
    margin-right: 2rem;
  }
}

@media (min-width: 1025px) {
  .u-margin-image-second {
    margin-right: 4rem;
  }
}

.u-margin-image-third {
  margin-left: 1rem;
}

@media (min-width: 600px) {
  .u-margin-image-third {
    margin-left: 2rem;
  }
}

@media (min-width: 1025px) {
  .u-margin-image-third {
    margin-left: 4rem;
  }
}

.u-margin-image-fourth {
  margin: 3rem auto 0;
}

@media (min-width: 600px) {
  .u-margin-image-fourth {
    margin: 6rem auto 0;
  }
}

.u-margin-image-groups {
  margin: 3rem 0 0 0;
}

@media (min-width: 600px) {
  .u-margin-image-groups {
    margin: 23rem 0 0 0;
  }
}

@media (min-width: 1025px) {
  .u-margin-image-groups {
    margin: 6rem 0 0 0;
  }
}

.u-margin-image-group {
  margin: 1.5rem 0 0 0;
}

@media (min-width: 600px) {
  .u-margin-image-group {
    margin: 0 0 0 0;
  }
}

.u-margin-ul {
  margin-top: 6rem;
}

@media (min-width: 1025px) {
  .u-height-sidebar-archive {
    height: 2500px;
  }
}

@media (min-width: 1025px) {
  .u-height-sidebar-search {
    height: 3500px;
  }
}

@media (min-width: 1025px) {
  .u-height-sidebar-single-page {
    height: 6750px;
  }
}

@media (min-width: 1125px) {
  .u-height-sidebar-single-page {
    height: 6650px;
  }
}

@media (min-width: 1170px) {
  .u-height-sidebar-single-page {
    height: 6500px;
  }
}

@media (min-width: 600px) {
  .u-height-caption-text {
    height: auto;
  }
}

.u-font-first-h3 {
  font-size: 2.4rem;
}

@media (min-width: 600px) {
  .u-font-first-h3 {
    font-size: 2.8rem;
  }
}

.u-font-h4, .u-font-second-h3, .u-font-h5, .u-font-h6 {
  font-size: 2rem;
}

.u-font-image {
  font-size: 1.6rem;
  overflow: hidden;
  height: 17.1rem;
}

@media (min-width: 600px) {
  .u-font-image {
    height: 41rem;
  }
}

@media (min-width: 1025px) {
  .u-font-image {
    height: auto;
  }
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 600px) {
  .u-padding-caption-head {
    padding-top: 5rem;
  }
}

@media (min-width: 600px) {
  .u-padding-caption-text {
    padding-top: 5.5rem;
  }
}

.u-padding-ol {
  padding-left: 4rem;
}

.u-padding-ul {
  padding-left: 2rem;
}

.u-width-left {
  width: 35vw;
}

@media (min-width: 1025px) {
  .u-width-left {
    width: 23vw;
  }
}
/*# sourceMappingURL=style.css.map */