.c-button {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    color: #3C2A10;
    border-radius: 20px;
    border-color: #707070;
    border-width: 1px;
    padding: 3rem 0;
    background: linear-gradient(#F2EDE9, #DED8D3);
    cursor: pointer;

    @include breakpoint( tablet ) {
        width: 65%;
        padding: 4rem 0;
    
    }

    @include breakpoint( pc ) {
        width: 23vw;
    
    }
}