.c-search {
    width: 23rem;
    height: 4.6rem;
    background-image: url("../../../img/パス 270.png");
    background-repeat: no-repeat;
    background-position: 7% center;
    border-radius: 10px;
    font-size: 25px;
    border-color: #707070;
    border-width: 1px;
    padding-left: 5rem;

    &.js-open {
        background: rgba($color: black, $alpha: 0.4);
    }

    @include breakpoint( tablet ) {
        padding-left: 7rem;
        width: 39.6rem;
    
    }

    @include breakpoint( pc ) {
        width: 20vw;
    
    }
}