.u-font-first-h3 {
    font-size: 2.4rem;

    @include breakpoint( tablet ) {
        font-size: 2.8rem;
    
    }
}

.u-font-h4, .u-font-second-h3, .u-font-h5, .u-font-h6 {
    font-size: 2rem;
}

.u-font-image {
    font-size: 1.6rem;
    overflow: hidden;
    height: 17.1rem;

    @include breakpoint( tablet ) {
        height: 41rem;
    
    }

    @include breakpoint( pc ) {
        height: auto;
    
    }
}