.u-height-sidebar-archive {

    @include breakpoint( pc ) {
        height: 2500px;
    }
}

.u-height-sidebar-search {

    @include breakpoint( pc ) {
        height: 3500px;
    }
}

.u-height-sidebar-single-page {
    @include breakpoint( pc ) {
        height: 6750px;
    
    }

    @media (min-width: 1125px) {
        height: 6650px;
    }

    @media (min-width: 1170px) {
        height: 6500px;
    }
}

.u-height-caption-text {
    @include breakpoint( tablet ) {
        height: auto;
    
    }
}
