.p-card-out {
    padding: 2rem 2rem 0;
    position: relative;
    // background-image: url("../../../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-3.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    // // background-position: center center;
    // width: 100%;
    // height: 642px;
    // // object-fit: cover;
    // margin: 2rem 2rem 0;

    @include breakpoint( pc ) {
        // margin-right: 2rem;
    
    }
    
    
    &__img {
        width: 100%;
        height: 642px;
        object-fit: cover;

        @include breakpoint( pc ) {
            height: 120rem;
        
        }
    }
    
}

.p-card-in {
    padding: 2rem 2rem 0;
    position: relative;
    // background: url("../../../img/473d814b175bd517b56eb309f2958725.png");
    // background-repeat: no-repeat;
    // // background-position: center center;
    // background-size: cover;
    // height: 642px;
    // margin: 2rem 2rem 0;
    // object-fit: cover;

    @include breakpoint( pc ) {
        // margin-left: 2rem;
    
    }


    &__img {
        width: 100%;
        height: 642px;
        object-fit: cover;

        @include breakpoint( pc ) {
            height: 120rem;
        
        }

    }

}
.p-card__head {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 41px;
    font-family: Roboto;
    color: #EAEAEA;

    ul {
        margin: 0;
        padding: 0;
    }

    a {
        color: #EAEAEA;

        &:hover  {
            opacity: 0.6;
        }
    }

    @include breakpoint( pc ) {
        font-size: 8rem;
        left: 4rem;
    }

}

.p-card__line {
    display: block;
    position: absolute;
    content: "";
    width: 34px;
    height: 4px;
    background-color: white;
    top: 10rem;
    left: 3rem;

    @include breakpoint( pc ) {
        left: 4rem;
        top: 15rem;
        width: 6.3rem;
    
    }
}

.p-card__body1 {
    position: absolute;
    top: 317px;
    left: 30px;
    right: 30px;
    background-color: rgba($color: white, $alpha: 0.7);
    // width: 86vw;
    height: 163px;

    @include breakpoint( pc ) {
        top: 860px;
    
    }


    &__head {
        font-size: 22px;
        font-weight: normal;
        padding: 2rem 0 2rem 1rem;

    }

    &__text {
        font-size: 16px;
        padding: 0 1rem 0 1rem;
        color: #3C2A10;
        overflow: hidden;
        height: 71px;
    }
}

.p-card__body2 {
    position: absolute;
    top: 489px;
    left: 30px;
    right: 30px;
    background-color: rgba($color: white, $alpha: 0.7);
    height: 163px;

    @include breakpoint( pc ) {
        top: 1040px;
    
    }

    &__head {
        font-size: 22px;
        font-weight: normal;
        padding: 2rem 0 2rem 1rem;

    }

    &__text {
        font-size: 16px;
        padding: 0 1rem 0 1rem;
        color: #3C2A10;
        overflow: hidden;
        height: 71px;

    }
}


// ____archive____

.p-card-article {
    margin: 2rem 0 0 0;
    height: 58.4rem;

    @include breakpoint( tablet ) {
        display: flex;
        height: 35.4rem;
    }

    @include breakpoint( pc ) {
        margin: 3rem 0 0 0;
        height: 47.1rem;
    }

    &__img {
        height: 23rem;
        &__size {
            object-fit: cover;
            width: 100%;
            height: 23rem;

            @include breakpoint( tablet ) {
                width: 48vw;
                height: 35.4rem;
            
            }

            @include breakpoint( pc ) {
                height: 47.1rem;
            }

        }

        img {
            object-fit: cover;
            width: 100%;
            height: 23rem;

            @include breakpoint( tablet ) {
                width: 48vw;
                height: 35.4rem;
            
            }

            @include breakpoint( pc ) {
                height: 47.1rem;
            }
        }
    }

    &__detail {
        background: #3C2B1C;
        color: white;
        height: 35.4rem;
        padding: 3rem 7.3rem 0 1.6rem;
        position: relative;

        @include breakpoint( tablet ) {
            width: 50%;
            padding: 3rem 6rem 0 3.6rem;
        
        }

        @include breakpoint( pc ) {
            height: 47.1rem;
            padding: 5.3rem 9.6rem 0 6.3rem;
        }

        &__tophead {
            font-size: 2rem;
        }

        &__middlehead {
            font-size: 1.6rem;
            padding: 2.5rem 0 0 0;
            margin: 0;
        }

        &__text {
            font-size: 1.6rem;
            padding: 1rem 0 0 0;
            line-height: 21px;
            height: 11.4rem;
        }

        p {
            font-size: 1.6rem;
            padding: 3rem 0 0 0;
            line-height: 21px;
            height: 11.4rem;
        }

        div {
            margin: 4rem auto 0;
            text-align: center;

            @include breakpoint( tablet ) {
                margin: 7rem auto 0;
            
            }

            button {
                width: 16.3rem;
                height: 4.2rem;
                background-color: white;
                border-radius: 20px;
                position: absolute;
                top: 280px;
                left: 0;
                right: 0;
                margin: 0 auto;

                @include breakpoint( pc ) {
                    width: 29.2rem;
                    height: 7.6rem;
                    border-radius: 50px;
                    top: 360px;
                
                }
                
                a {
                    color: #707070;
                    font-size: 1.6rem;
                }
            }
        }

    }
}