.p-container-card {
    margin-bottom: 5rem;

    @include breakpoint( tablet ) {
        display: flex;
        padding: 2rem 2rem 0 2rem;
    }

    @include breakpoint( pc ) {
        // padding: 10rem 7.2rem 0 7.1rem;
        padding: 6rem 2rem 0 2rem;
        margin-bottom: 8rem;
    
    }
}

.p-container-archive {
    padding: 0 2rem 0;

    @include breakpoint( pc ) {
        padding: 0 4rem 0;
    
    }
}

// .p-container-single-page {
//     padding: 0 2rem;
//     color: #3C2A10;
//     font-size: 1.6rem;
    

//     @include breakpoint( tablet ) {
//         padding: 0 6rem;
    
//     }

//     @include breakpoint( pc ) {
//         padding: 0 10rem;
    
//     }
// }