.p-list {
    margin: 3rem 0 0 0;

    @include breakpoint( tablet ) {
        margin: 6rem 0 6rem 5rem;
    
    }
    &__ol {
        padding-left: 2rem;
        margin: 2.3rem 0;
        li {
            list-style-type: decimal;
        }

    }

    &__ul {
        padding-left: 0rem;
        margin: 2.3rem 0;

        
    }
}