.c-menu {
    border-style: none;
    background-color: transparent;
    position: absolute;
    font-size: 2.0rem;
    font-family: Roboto;
    font-weight: bold;
    color: #707070;
    top: 14px;
    right: 16px;

    @include breakpoint( tablet ) {
        font-size: 3.4rem;
    
    }
    
    @include breakpoint( pc ) {
        display: none;
        top: 8.6rem;
        right: 12rem;
    
    }
}

.c-menu-pc {
    display: none;

    @include breakpoint( pc ) {
        display: block;
        font-size: 3.4rem;
        font-family: Roboto;
        color: #707070;
        margin: 8.2rem 0 0 4.6rem;
    
    }
}