.l-header {

    @include breakpoint( pc ) {
        // display: flex;
        
    }
    &__left {
        background-color: #FFF7EF;
        width: 100vw;
        &.js-open {
        background: rgba($color: black, $alpha: 0.4);
        }

        @include breakpoint( pc ) {
            display: flex;
            justify-content: space-between;
            height: 21.7rem;
            width: 81%;
        
        }
    }

    &__left__head {
        padding: 4rem 0 0;
        text-align: center;

        @include breakpoint( pc ) {
            padding: 6rem 0 0 5rem;
            // padding: 0 0 0 0;
            // margin: 6rem 0 0 5rem;
        
        }
    }

    &__left--color {
        color: #707070;
    }

    &__left--size {
        font-size: 4rem;
        
        @include breakpoint( pc ) {
            font-size: 6.4rem;
        
        }
    }
}