.l-header {

    @include breakpoint( pc ) {
        // display: flex;
    
    }
    &__left {
        background-color: #FFF7EF;
        &.js-open {
        background: rgba($color: black, $alpha: 0.4);
        }

        @include breakpoint( pc ) {
            display: flex;
            height: 21.7rem;
        
        }
    }

    &__left__head {
        padding: 4rem 0 0;
        text-align: center;

        @include breakpoint( pc ) {
            padding: 6.5rem 0 0 3.3rem;
        
        }
    }

    &__left--color {
        color: #707070;
    }

    &__left--size {
        font-size: 4rem;
        
        @include breakpoint( pc ) {
            font-size: 6.4rem;
        
        }
    }
}